*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    position: relative;
}

.carousel{
    width: 80%;
    height: 60vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.place{
    position: relative;
    height: 100%;
    width: 70%;
}

.placesList{ 
    position: relative;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.currentImg{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.currentImg.active{
   display: block;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.countryInfo{
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
}

.country{
    text-align: end;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}

.description{
    color: white;
    text-align: end;
    padding: 10px 20px;
}

.currentPlace{
    width: 100%;
    height: 20%;
    
}

.selected{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.arrows{
    padding: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.arrow{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

